

<mat-card style="border: 1px solid blue">
    <mat-card-header>
        <mat-card-subtitle>structure</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE
        DROP - ZONE

    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>actionOne</button>
        <button mat-button>actionTwo</button> -->
        </mat-card-actions>
</mat-card>



